 body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        nav {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            transition: color 0.3s ease-in-out;
        }

        nav a:hover {
            color: #ffcc00;
        }

        h2 {
            text-align: center;
            color: #333;
        }

        p {
            text-align: center;
            font-size: 18px;
            margin-top: 20px;
        }

        #name, #balance {
            font-weight: bold;
            color: #ffcc00;
        }

        div ul {
            list-style: none;
            padding: 0;
            margin: 20px 0;
            text-align: center;
        }

        div ul li {
            display: inline-block;
            margin-right: 20px;
        }

        div a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            transition: color 0.3s ease-in-out;
        }

        div a:hover {
            color: #ffcc00;
        }
        .content{
        margin-top:150px
        }