body {
            font-family: Arial, sans-serif;
            background: white;
            text-align: center;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #background-image {
            width: 40%;
            animation: pulse 5s infinite;
        }
        
        @keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}
        h2 {
            color: #333;
            margin-top: 20px;
            margin-right:300px;
            
        }

        p {
            color: #2d2d2d;
            margin-bottom: 30px;
            margin-right:300px;
            
        }

        form {
            max-width: 500px;
            margin-right:300px;
            width:300px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #555;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

        input[type="submit"]:hover {
            background-color: #ac0000;
        }